name: Build kubernetes release asset
run-name: Build kubernetes release asset for ${{ inputs.k8s-version }} (${{ inputs.arch }})

on:
  workflow_call:
    inputs:
      k8s-version:
        required: true
        type: string
        description: 'Kubernetes version, e.g. v1.33.0'
      arch:
        required: true
        type: string
        description: 'Target arch, either amd64 or arm64'
      kubernetes-fips-image:
        required: true
        type: string
        description: 'Kubernetes fips sub-image (registry/repo/image:tag) containing all control plane and node components'
      etcd-fips-image:
        required: true
        type: string
        description: 'ETCD fips image (registry/repo/image:tag)'
      helm-fips-image:
        required: true
        type: string
        description: 'Helm fips image (registry/repo/image:tag)'
      kine-fips-image:
        required: true
        type: string
        description: 'Kine fips image (registry/repo/image:tag)'
      konnectivity-fips-image:
        required: true
        type: string
        description: 'Konnectivity server fips image (registry/repo/image:tag)'
      pause-image-version:
        required: true
        type: string
        description: 'Pause image version, e.g. 3.10'

jobs:
  build-archive:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build kubernetes FIPS ${{ inputs.k8s-version }}
        id: trim-version
        env:
          KUBERNETES_FIPS_IMAGE: ${{ inputs.kubernetes-fips-image }}
          KUBERNETES_VERSION: ${{ inputs.k8s-version }}
          PAUSE_IMAGE_VERSION: ${{ inputs.pause-image-version }}
          ETCD_FIPS_IMAGE: ${{ inputs.etcd-fips-image }}
          KONNECTIVITY_FIPS_IMAGE: ${{ inputs.konnectivity-fips-image }}
          HELM_FIPS_IMAGE: ${{ inputs.helm-fips-image }}
          KINE_FIPS_IMAGE: ${{ inputs.kine-fips-image }}
          TARGET_ARCH: ${{ inputs.arch }}
        run: |
          # Setup GitHub CLI
          gh auth login --with-token <<< "${{ secrets.GITHUB_TOKEN }}"

          cd fips

          KUBERNETES_VERSION_TRIMMED=$(echo ${KUBERNETES_VERSION} | sed -E 's/^(v[0-9]+\.[0-9]+)\.[0-9]+$/\1/')

          echo "Building FIPS release tar archives for Kubernetes ${KUBERNETES_VERSION} (linux/${{ inputs.arch }})..."

          ./build-fips.sh

          # Create a new release with the archives as assets
          if gh release view $KUBERNETES_VERSION --repo ${{ github.repository }} &>/dev/null; then
            gh release upload "$KUBERNETES_VERSION" \
              "./kubernetes-$KUBERNETES_VERSION-${{ inputs.arch }}-fips.tar.gz" \
              "./kubernetes-$KUBERNETES_VERSION-${{ inputs.arch }}-fips-full.tar.gz" \
              --repo ${{ github.repository }} \
              --clobber

            echo "Updated release for Kubernetes $KUBERNETES_VERSION"
          else
            echo "Release $KUBERNETES_VERSION does not exist"
            exit 1
          fi
